{% extends 'base.html' %} {% block head %}
<style>
  body {
    font-family: "Oswald", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 192, 1);
    color: #f3df00;
  }

  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: rgb(235, 192, 1);
    margin-bottom: 20px;
  }

  form {
    max-width: 300px;
    margin: 0 auto;
  }
  label,
  input {
    display: block;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>

{% endblock %} {% block body %} {% include 'navbar.html' %}

<h1>Add Product</h1>
<form class="container" id="addProductForm" method="POST">
  <label for="productName">Product ASIN:</label>
  <input type="text" id="productASIN" name="productASIN" required />

  <input id="submit" type="submit" value="Add Product" />
</form>
<script>
  function dis() {
    var sub = document.getElementById("submit");
    console.log(sub);
    sub.disabled = true;
  }
  var sub = document.getElementById("addProductForm");
  sub.addEventListener("submit", dis);
</script>
{% endblock %}
