{% extends 'base.html' %} {% block head %}
<style>
  body {
    font-family: "Oswald", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 192, 1);
    color: #000000;
  }

  .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  .report {
    background-color: rgb(34, 34, 34);
    color: rgb(235, 192, 1);
    padding: 20px;
    border-radius: 10px;
  }

  h2 {
    color: #fff066;
  }

  .report p {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .feedback-item {
    width: 45%;
    padding: 10px;
    margin: 5px;
    background-color: rgb(200, 164, 3);
    color: #000000;
    border-radius: 5px;
  }

  .feedback-item:hover {
    background-color: rgb(254, 208, 0);
  }

  .feedback-item p {
    margin: 0;
  }

  #column-example-1 {
    width: 100%;
    max-width: 200px;
    /* margin: 0 auto; */
  }
  #column-example-1 tr {
    height: 150px;
    width: 20px;
    margin-left: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    box-shadow: rgba(228, 217, 1, 0.373) 0px 1px 3px 0px,
      rgba(207, 210, 3, 0.399) 0px 0px 0px 1px;
  }
  #column-example-1 .column {
    --aspect-ratio: 4 / 4;
  }
  #column-example-1 tbody td {
    background-color: #e3d102;
  }
</style>

{% endblock %} {% block body %} {% include 'navbar.html' %}{% include
'change_color.html' %}
<div class="container">
  <h1>Detailed Sales Review Analysis Report</h1>
  <div class="report">
    <h2 style="text-align: center">Product Details</h2>
    <div class="product-details">
      <h3>Product Name: {{product.title}}</h3>
      <p>Manufactured by: {{product.manufacturer}}</p>
      <p>Price: &#8377;{{product.price}}</p>
      <h2 style="text-align: center">Sales Overview</h2>
    </div>
    <div id="column-example-1">
      <table class="charts-css column show-labels show-data-axes">
        <caption>
          Column Example #4
        </caption>
        <thead>
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td style="--size: {{product.perc1/100}}"></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td style="--size: {{product.perc2/100}}"></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="--size: {{product.perc3/100}}"></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td style="--size: {{product.perc4/100}}"></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td style="--size: {{product.perc5/100}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Average Rating: {{product.rating}}</p>
    <p>
      Average Sentiment score:
      <script>
        var totsent=0;
        {% for rev in reviews %}
        totsent += {{ rev.sentiment }};
        {% endfor %}
        document.write(totsent/{{reviews|length}});
      </script>
    </p>
    <h2 style="text-align: center">Sentiment Analysis Graph</h2>
    <canvas id="sentimentChart" width="400" height="200"></canvas>
    <h2 style="text-align: center">Customer Feedback</h2>
    <div class="feedback">
      {% for rev in reviews %}
      <div class="feedback-item">
        <p><strong>{{rev.author}}</strong></p>
        <p>{{rev.review}}</p>
        <p>Rating:<strong>{{rev.rating}}</strong></p>
        <p>Sentiment Score:<strong>{{rev.sentiment}}</strong></p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const yValues = [];
  const ratValues =[];
  yValues.push(0);
  ratValues.push(0);
  {% for x in reviews %}
  yValues.push({{x.sentiment}});
  ratValues.push({{x.rating}});
  {% endfor %}
  const xValues = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

  new Chart("sentimentChart", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [
        {
          fill: false,
          lineTension: 0,
          label: "sentiment score",
          backgroundColor: "rgb(200, 164, 3)",
          borderColor: "rgb(200, 164, 3,0.2)",
          data: yValues,
        },{

          fill: false,
          lineTension: 0,
          label: "ratings",
          backgroundColor: "rgba(27, 200, 0, 0.9)",
          borderColor: "rgba(27, 200, 0, 0.3)",
          data: ratValues,

        }
      ],
    },
    options: {
      plugins: {
        legend:{
          title:{
            display: true,
            text: "ratings vs sentiment"}},
        scales: {
          yAxes: [{ ticks: { min: 6, max: 16 } }],
        },
      },
    }
  });
</script>
{% include 'footer.html' %} {% endblock %}
